# Environment variables template for openwebui session of class HAI5014 (Pim Kamphuis)
# Make sure there ar no spaces around the equal sign and rename tshis file to .env

# Application database
VECTOR_DB=pgvector

# LLM Models and Connection Settings
ENABLE_OLLAMA_API=false

OPENAI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai


DEFAULT_MODELS=gemini-2.5-flash-preview-04-17

RAG_EMBEDDING_ENGINE=openai
RAG_EMBEDDING_MODEL=text-embedding-004


# Uncomment the following line if you don't use Github's Secrets feature for Codespaces

## The OpenAI compatible API key from Google Gemini goes here:
#OPENAI_API_KEY=


## The database connection string from Superbase goes here twice:
#DATABASE_URL=
#PGVECTOR_DB_URL=